/*
 * Nano Button - v0.1.1
 * (c) Raffaele T. / cunidev, 2021 - Released under MIT license, more details in README.md
 *
 * Homepage: https://gitlab.com/cunidev/nano-button
 * Issues: https://gitlab.com/cunidev/nano-button/issues
 * Tips: nano:nano_16x9cqkb1b375cc78ihuiy3npwac1smk6qpid18hhfrt55swsyj1dkw1z9i6
 */


.nano-button {
  display: inline-block;
  color: #fff;
  background-color: #4A90E2;
  border: 1px #3379CA solid;
  box-sizing: border-box;
  box-shadow: 0 10px 20px 0 rgba(74,144,226,0.25);
  border-radius: 32px;
  text-decoration: none;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nano-popover-dark .nano-button {
  background-color: #3A3897;
}
.nano-button:hover {
  background-color: #3A3897;
  border: 1px #3379CA solid;
}

.nano-button img {
  width: 32px;
  height: auto;
  vertical-align: middle;
  margin-right: 0.5em;
}

.nano-popover {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.nano-popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  
  transform: translate(0, 10px);
  background-color: #fff;
  padding: 0.7rem;
  box-shadow: 0 10px 20px 0 rgba(74,144,226,0.25);
  border-radius: 32px;
  width: auto;
}
.nano-popover-dark .nano-popover-content {
  background-color: #333;
}

.nano-popover:hover .nano-popover-content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.nano-about-link {
  position: relative;
  top: -1em;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
}
.nano-about-link:hover {
  color: #333;
  text-decoration: underline;
}